 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     list-style-type: none;
 }
 
 body {
     background-color: #36f466;
     ;
 }
 
 .wrapper {
     margin: auto;
     width: 95%;
     max-width: 800px;
 }
 
 header {
     height: 40px;
     width: 100%;
     display: flex;
     margin-top: 200px;
 }
 
 header .input {
     flex: 1 1 75%;
     border: none;
     padding: 10px;
     font-size: 16px;
     height: 40px;
 }
 
 header .btn {
     height: 40px;
     background-color: #3fa004;
     color: #fff;
     text-align: center;
     font-size: 16px;
     cursor: pointer;
     transition: 0.3s;
     width: 40px;
     border: none;
 }
 
 header .btn:hover {
     transition: linear 0.2s all;
     background-color: #317b03;
 }
 
 .lista {
     margin-top: 10px;
 }
 
 .lista li {
     height: 40px;
     display: flex;
     background: #fff;
     width: 100%;
     font-size: 20px;
     margin-bottom: 5px;
 }
 
 .lista li:nth-child(odd) {
     background-color: #e8e8e8;
 }
 
 .textoItem {
     color: #000;
     width: 100%;
     height: 40px;
     line-height: 40px;
     padding-left: 20px;
 }
 
 .close {
     background: #f70000;
     height: 40px;
     color: #fff;
     line-height: 40px;
     font-size: 29px;
     width: 40px;
     text-align: center;
     cursor: pointer;
     transition: linear 0.2s all;
 }
 
 .close:hover {
     background: #ce0000;
 }